@model InGame.Dtos.CategoryDto
@*//define the model for store the model values*@

@using Syncfusion.EJ2

    <div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <ejs-dropdownlist id="Categories" dataSource="@ViewBag.DropDownDataSource" placeholder="Select Category" floatLabelType="Always">
                    <e-dropdownlist-fields text="CategoryName" value="Id"></e-dropdownlist-fields>
                </ejs-dropdownlist>                
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <ejs-textbox id="CategoryName" placeholder="Category Name" floatLabelType="Auto"></ejs-textbox>
            </div>
        </div>

    </div>

<ejs-scripts></ejs-scripts>
