@model InGame.Dtos.CategoryDto
@*//define the model for store the model values*@

@using Syncfusion.EJ2

    <div>  
        <div class="form-row">
            <div class="form-group col-md-12">
                <ejs-dropdownlist id="categoryDropdown" open="open" placeholder="Select Category" noRecordsTemplate="<div id='tree'></div>">                    
                </ejs-dropdownlist>            
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-12">
                <ejs-textbox id="CategoryName" placeholder="Category Name" floatLabelType="Auto"></ejs-textbox>
            </div>
        </div>
    </div>

<ejs-scripts></ejs-scripts>
